<div class="jumbotron create-folder">
	<center><%= link_to "Create Folder", new_folder_path, class: 'btn btn-success'  %></center>
</div>

<div class="jumbotron">
	<div class="container">
		<% @folders.each do |folder| %>
			<div class="col-md-3 folder-item">
				<i class="fa fa-folder"></i>
				<p><%= folder.name %></p>
				<%= link_to "See Folder", folder_path(folder.id) %><br /><br />
			</div>
		<% end %>
		</div>
	</div>
</div>