.image-holder img{
	width: 300px;
}

.fa-folder{
	font-size:3em;
}

.folder-item{
	i{
		display: block;
		text-align: center;
	}
	p, a{
		text-align: center;
		display: block;
	}
}

.create-folder{
	margin-bottom: 0 !important;
	padding-bottom:0;
	background: #fff !important;
}